/**
 * Cover image
 *
 * Usefull when creating custom image sizes with WordPress and
 * to make sure an image matches the specified image size dimensions.
 *
 * @example
 * <div class="cover-image cover-image-thumbnail">
 *  <img src="…">
 * </div>
 *
 */

$cover-image-ratios: (
  "thumbnail" : ( 150, 150 )
);

.cover-image {
  @extend .embed-responsive;

  &::before {
    content: none;
  }

  img {
    @extend .embed-responsive-item;

    object-fit: cover;
    object-position: center;
  }
}

@each $_key, $_ratios in $cover-image-ratios {
  .cover-image-#{$_key} {
    $_x: nth($_ratios, 1);
    $_y: nth($_ratios, 2);

    padding-top: percentage($_y / $_x) !important;
  }
}
