/**
 * Navbar
 */

$site-logo-max-height: $navbar-brand-height + $navbar-brand-padding-y * 2;
$site-logo-max-height-lg: $site-logo-max-height * 2;
$navbar-padding-y-lg: $navbar-brand-padding-y * 2;

.navbar {

  // Set button spacing
  .nav-item .btn {
    margin-top: $navbar-padding-y;
    margin-bottom: $navbar-padding-y;
  }

  /**
   * Containers inside navbars do not always align properly
   * according to other container elements.
   */
  @include media-breakpoint-down( sm ) {
    > .container,
    > .container-fluid {
      @include media-breakpoint-down( sm ) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      @include media-breakpoint-down( sm ) {
        padding-left: $grid-gutter-width / 2 !important;
        padding-right: $grid-gutter-width / 2 !important;
      }
    }
  }
}

// Brand
.navbar-brand {
  .site-title,
  a {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    white-space: inherit;
  }

  p.site-title,
  h1.site-title {
    margin: 0;
  }

  // Remove vertical padding when logo is used.
  .wp-custom-logo & {
    padding-top: 0;
    padding-bottom: 0;
  }

  .site-logo {
    display: flex; // Remove spacing
    align-items: center;
    line-height: 1;

    // Make image fit vertically
    img {
      max-height: $site-logo-max-height;
      width: auto;
    }
  }
}

// Light theme
.navbar-light {
  // Give disabled links the default color
  .nav-link.disabled {
    color: $navbar-light-color !important;
  }
}

// Dark theme
.navbar-dark {
  // Give disabled links the default color
  .nav-link.disabled {
    color: $navbar-dark-color !important;
  }
}

// Expandable
.navbar-expand {
  @each $breakpoint in map-keys( $grid-breakpoints ) {

    $next : breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{ $infix } {
      // Expanded
      @include media-breakpoint-up( $next ) {
        padding-top: $navbar-padding-y-lg;
        padding-bottom: $navbar-padding-y-lg;

        .site-logo img {
          max-height: $site-logo-max-height-lg;
        }

        .navbar-nav {
          // Make sure all items are aligned properly
          align-items: center;
        }

        // Set button spacing
        .nav-item .btn {
          margin: 0 $navbar-nav-link-padding-x;
        }
      }
    }
  }
}
