.wp-block-my-theme-buttons > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  > .wp-block {
    margin: 0 1rem 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.wp-block-my-theme-buttons {
  @each $key, $value in ( 'left' : 'flex-start', 'center': 'center', 'right': 'flex-end' ) {
    &.has-justify-content-#{$key} > .block-editor-inner-blocks > .block-editor-block-list__layout {
      justify-content: unquote($value);
    }
  }
}
