/*!
 * Theme Editor
 */

// Import Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

[class*="block-editor-rich-text"],
.acf-block-preview {
  @include reset-text();
}

.acf-block-preview {
  @include font-size($font-size-base);

  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3

  // Disable all links
  pointer-events: none;

  // Import front styles
  @import "main";
}
