//
// Block max widths
//
// Blocks are placed inside a container component
// therefore the container horizontal padding is substracted.
//

$block-max-widths : (
  sm : map-get($container-max-widths, "sm") - $grid-gutter-width,
  md : map-get($container-max-widths, "md") - $grid-gutter-width,
  lg : map-get($container-max-widths, "lg") - $grid-gutter-width,
  xl : map-get($container-max-widths, "xl") - $grid-gutter-width,
);

//
// Set spacing and max widths according to the 'align' setting.
//

.hentry .entry-header,
.hentry .entry-footer {
  @include make-container-max-widths($block-max-widths);
  // Center horizontally
  margin-left: auto;
  margin-right: auto;
}

.hentry .entry-content {
  @include clearfix();
}

// Select all root blocks.
.hentry .entry-content > * {
  // Center horizontally
  margin-left: auto;
  margin-right: auto;

  // Set vertical spacing

  margin-top: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);

  @include media-breakpoint-up( md ) {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  // Alignment

  @include make-container-max-widths((
    "sm" : map-get($block-max-widths, "sm"),
    "md" : map-get($block-max-widths, "md"),
  ));

  &.alignwide {
    clear: both;
    @include make-container-max-widths((
      "lg" : map-get($block-max-widths, "lg"),
      "xl" : map-get($block-max-widths, "xl"),
    ));
  }

  &.alignfull {
    clear: both;
    // Stretch outside container to fit viewport width.
    position: relative;
    left: -#{$grid-gutter-width/2};
    width: calc(100% + (#{$grid-gutter-width}));
    max-width: calc(100% + (#{$grid-gutter-width}));
  }

  &.alignleft {
    @include media-breakpoint-up( md ) {
      float: left;
      margin-right: $grid-gutter-width / 2;
      height: auto;
    }
  }

  &.alignright {
    @include media-breakpoint-up( md ) {
      float: right;
      margin-left: $grid-gutter-width / 2;
    }
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
