@import "~bootstrap/scss/functions";

// …

// Make sure all variables are set.
@import "~bootstrap/scss/variables";

//
// Site logo
//

$site-logo-max-height:    $navbar-brand-height + $navbar-brand-padding-y * 2;
$site-logo-max-height-lg: $site-logo-max-height * 2;

//
// Navbar
//

$navbar-padding-y-lg: $navbar-padding-y * 2;

//
// Editor colors
//

$editor-colors: ();
$editor-colors: map-merge($theme-colors, $editor-colors);

//
// Editor font sizes
//

$editor-font-sizes: (
  "small"  : $font-size-sm,
  "normal" : $font-size-base,
  "large"  : $font-size-lg,
);

//
// Block max widths
//
// Blocks are placed inside a container component
// therefore the container horizontal padding is substracted.
//

$block-max-widths : (
  sm : map-get($container-max-widths, "sm") - $grid-gutter-width,
  md : map-get($container-max-widths, "md") - $grid-gutter-width,
  lg : map-get($container-max-widths, "lg") - $grid-gutter-width,
  xl : map-get($container-max-widths, "xl") - $grid-gutter-width,
);
