//
// Set spacing and max widths according to the 'align' setting.
//

.hentry .entry-header,
.hentry .entry-footer {
  @include make-container-max-widths($block-max-widths);
  // Center horizontally
  margin-left: auto;
  margin-right: auto;
}

.hentry .entry-content {
  @include clearfix();
}

// Select all root blocks.
.hentry .entry-content > * {

  //
  // Block alignment
  //

  margin-left: auto;
  margin-right: auto;

  @include make-container-max-widths((
    "sm" : map-get($block-max-widths, "sm"),
    "md" : map-get($block-max-widths, "md"),
  ));

  &.alignwide {
    clear: both;
    @include make-container-max-widths((
      "lg" : map-get($block-max-widths, "lg"),
      "xl" : map-get($block-max-widths, "xl"),
    ));
  }

  &.alignfull {
    clear: both;
    max-width: none;
    // Stretch outside container to fit viewport width.
    .has-no-sidebars .container-fluid & {
      position: relative;
      left: -#{$grid-gutter-width/2};
      width: calc(100% + (#{$grid-gutter-width}));
      max-width: calc(100% + (#{$grid-gutter-width}));
    }
  }

  &.alignleft {
    @include media-breakpoint-up( md ) {
      float: left;
      margin-right: $grid-gutter-width / 2;
      height: auto;
    }
  }

  &.alignright {
    @include media-breakpoint-up( md ) {
      float: right;
      margin-left: $grid-gutter-width / 2;
    }
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
