
$gallery-gutter-width: 30px !default;
$gallery-max-columns: 12!default;

.gallery {
  @include make-row($gallery-gutter-width);
}

.gallery-item {
  @include make-col-ready($gallery-gutter-width);
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $next : breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  @include media-breakpoint-up( $next ) {
    @for $n from 1 through $gallery-max-columns {
      .gallery-columns#{$infix}-#{$n} {
        .gallery-item {
          @include make-col(1, $n);
        }
      }
    }
  }
}
