/**
 * Gravity Forms
 *
 * Navigate to Forms > Settings from the WordPress admin
 * - Set Output CSS to No
 * - Set Output HTML5 to Yes
 */

.gform_fields,
.gfield_checkbox,
.gfield_radio {
  @extend .list-unstyled;
}

.gfield_visibility_hidden {
  @extend .d-none;
}

.gfield {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    @extend .form-control;

    &.small {
      width: 25%;
    }

    &.medium {
      width: 50%;
    }
  }

  input[type="file"] {
    @extend .form-control-file;
  }

  select[multiple] {
    height: auto;
  }

  &.gfield_error {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    input[type="file"] {
      @extend .is-invalid;
    }
  }

  .clear-multi {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;

    .ginput_container {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.gform_fields {
  @extend .form-row;

  > .gfield {
    @extend .form-group;
    @extend .col-12;

    padding-left: 5px;
    padding-right: 5px;
  }
}

.gfield_radio,
.gfield_checkbox {
  @extend .form-check;

  input {
    @extend .form-check-input;
  }

  label {
    @extend .form-check-label;
  }
}

.ginput_container_time {
  display: flex;
  align-items: center;

  label {
    margin: 0 0 0 10px;
  }

  i {
    display: none;
  }
}

.ginput_container_address {
  display: flex;
  flex-wrap: wrap;

  @extend .form-row;

  > .ginput_full {
    @extend .col-12;
  }

  > .ginput_left,
  > .ginput_right {
    @extend .col-md-6;
  }

  > .ginput_full,
  > .ginput_left,
  > .ginput_right {
    @extend .form-group;

    padding-left: 5px;
    padding-right: 5px;

    label {
      @extend small;

      margin: 0;
    }
  }
}

.gform_button {
  @extend .btn;
  @extend .btn-secondary;

  &[type="submit"] {
    @extend .btn-primary;
  }
}

.gform_previous_button {
  @extend .btn;
  @extend .btn-outline-primary;
}

.gform_next_button {
  @extend .btn;
  @extend .btn-primary;
}

.gform_footer {
  .gform_ajax_spinner {
    @extend .ml-2;
  }
}

.gform_wrapper {
  .validation_error {
    @extend .alert;
    @extend .alert-danger;
  }
}

.gfield_required {
  @extend .invalid-feedback;
  @extend .d-inline;

  margin-left: 5px;
}

.gform_confirmation_wrapper {
  @extend .alert;
  @extend .alert-success;
}

.validation_message {
  @extend .invalid-feedback;
  @extend .d-block;
}

.gfield_description:not(.validation_message) {
  @extend small;
  @extend .form-text;
  @extend .text-muted;
}

.gf_page_steps {
  @extend .list-inline;
  @extend .mb-2;

  > .gf_step {
    @extend li;
  }
}
