/*!
 * Gravity Forms
 */

.gfield {
  @extend .mb-3;

  // Text, file & textarea
  input[type="text"],
  input[type="file"],
  textarea {
    @extend .form-control;
  }

  // Select
  select {
    @extend .form-select;
  }
}

// Radio- & checkboxes
.gfield_checkbox,
.gfield_radio {
  > .gchoice {
    @extend .form-check;

    > input {
      @extend .form-check-input;
    }

    > label {
      @extend .form-check-label;
    }
  }
}

// Consent
.ginput_container_consent {
  @extend .form-check;

  > input {
    @extend .form-check-input;
  }

  > label {
    @extend .form-check-label;
  }
}

// Label (legend)
legend.gfield_label {
  float: unset;
  width: unset;
  //margin-bottom: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
}

// Label
.gfield_label {
  @extend .form-label;
}

// Name & Address
.ginput_container_name,
.ginput_container_address {
  @extend .row;
  > span {
    @extend .col-12;
    @extend .mb-3;

    label {
      @extend .form-label;
      @extend .small;
    }
  }
}

// List group
.gfield_list_group {
  @extend .row;
  @extend .gx-2;
  align-items: center;

  &:not(:last-child) {
    @extend .mb-3;
  }

  > .gfield_list_group_item,
  > .gfield_list_icons {
    @extend .col;
  }

  .gfield_list_icons {
    flex-grow: 0;
    display: flex;
    align-items: center;
    > button {
      @extend .btn;
      @extend .btn-secondary;

      + button {
        @extend .ms-2;
      }
    }
  }
}

// Time (needs class `gfield_time`)
.gfield_time {
  .ginput_complex {
    @extend .row;
    @extend .gx-2;
    align-items: center;

    > * {
      @extend .col-auto;
    }
  }
}


// Left
.ginput_left {
  @extend .float-start;
  @include media-breakpoint-up("md") {
    width: 50% !important;
  }
}

// Right
.ginput_right {
  @extend .float-end;
  @include media-breakpoint-up("md") {
    width: 50% !important;
  }
}

// Button
.gform_button {
  @extend .btn;
  @extend .btn-primary;
}

// Validation
.gform_validation_errors {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: unset;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gfield_validation_message {
  @extend .text-danger;
}

.gfield.gfield_error {
  input, select, textarea {
    @extend .is-invalid;
  }
}

.gfield_label > .gfield_required {
  @extend .ms-2;
  @extend .text-danger;
}
