.svg-icon {
	display: inline-block;
	fill: currentColor;
  // Align more nicely with capital letters
	position: relative;
	top: -0.0625em;
  //
	vertical-align: middle;
	// Set default size when not set
	&:not([width]):not([height]){
		width: 1em;
		height: 1em;
	}
}
