// @link https://jetpack.com/support/infinite-scroll/

/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
 display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
 display: block;
}

#infinite-handle {
  text-align: center;
  margin-top: map-get($spacers, 4);
  span {
    @extend .btn;
    @extend .btn-secondary;
  }
  @include media-breakpoint-up(md) {
    margin-top: map-get($spacers, 5);
  }
}
