//
// Owl Carousel
//

$color-base:			$primary;
$color-white:			$white;
$color-gray:			$gray-400;

// Nav

$nav-color: 			$color-white;
$nav-color-hover:		$color-white;
$nav-font-size: 		14px;
$nav-rounded: 			3px;
$nav-margin: 			5px;
$nav-padding: 			4px 7px;
$nav-background: 		$color-gray;
$nav-background-hover:	transparent;
$nav-disabled-opacity: 	0.5;

// Dots

$dot-width:				10px;
$dot-height:			10px;
$dot-rounded:			30px;
$dot-margin: 			5px 7px;
$dot-background:		$color-gray;
$dot-background-active:	$color-base;

@import '~owl.carousel/src/scss/theme.default';
