@import "~bootstrap/scss/functions";

$enable-responsive-font-sizes: true;

//
// Make sure all variables are set.
//

@import "~bootstrap/scss/variables";

//
// Editor colors
//

$editor-colors: () !default;
$editor-colors: map-merge($theme-colors, $editor-colors);

//
// Editor font sizes
//

$editor-font-sizes: () !default;
$editor-font-sizes: map-merge(
  (
    "small"  : $font-size-sm,
    "normal" : $font-size-base,
    "large"  : $font-size-lg,
    "h-1"  : $h1-font-size,
    "h-2"  : $h2-font-size,
    "h-3"  : $h3-font-size,
    "h-4"  : $h4-font-size,
    "h-5"  : $h5-font-size,
    "h-6"  : $h6-font-size,
  ),
  $editor-font-sizes
);

//
// Block max widths
//
// Blocks are placed inside a container component
// therefore the container horizontal padding is substracted.
//

$block-max-widths: () !default;
$block-max-widths: map-merge(
  (
    sm : map-get($container-max-widths, "sm") - $grid-gutter-width,
    md : map-get($container-max-widths, "md") - $grid-gutter-width,
    lg : map-get($container-max-widths, "lg") - $grid-gutter-width,
    xl : map-get($container-max-widths, "xl") - $grid-gutter-width,
  ),
  $block-max-widths
);
