@import "~bootstrap/scss/functions";

$enable-responsive-font-sizes: true;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25), // 4px
  2: ($spacer * .5),  // 8px
  3: $spacer,         // 16px
  4: ($spacer * 1.5), // 24px
  5: ($spacer * 2),   // 32px
  6: ($spacer * 3),   // 48px
  7: ($spacer * 4),   // 64px
);

//
// Make sure all variables are set.
//

@import "~bootstrap/scss/variables";

//
// Editor colors
//

$editor-colors: () !default;
$editor-colors: map-merge((
  "primary"   : map-get($theme-colors, "primary"),
  "secondary" : map-get($theme-colors, "secondary"),
  "light"     : map-get($theme-colors, "light"),
  "dark"      : map-get($theme-colors, "dark"),
), $editor-colors);

//
// Editor font sizes
//

$editor-font-sizes: () !default;
$editor-font-sizes: map-merge(
  (
    "small"  : $font-size-sm,
    "normal" : $font-size-base,
    "large"  : $font-size-lg,
    "h-1"  : $h1-font-size,
    "h-2"  : $h2-font-size,
    "h-3"  : $h3-font-size,
    "h-4"  : $h4-font-size,
    "h-5"  : $h5-font-size,
    "h-6"  : $h6-font-size,
  ),
  $editor-font-sizes
);

//
// Block max widths
//

$block-max-widths: () !default;
$block-max-widths: map-merge(
  (
    "sm" : map-get($container-max-widths, "sm") - $grid-gutter-width,
    "md" : map-get($container-max-widths, "md") - $grid-gutter-width,
    "lg" : map-get($container-max-widths, "lg") - $grid-gutter-width,
    "xl" : map-get($container-max-widths, "xl") - $grid-gutter-width,
  ),
  $block-max-widths
);
