/*!
 * Block Styles
 *
 * Used for both editor and front-end.
 */

@import "~bootstrap/scss/functions";
@import "common/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//
// Variables
//

$editor-colors: ();
$editor-colors: map-merge($theme-colors, $editor-colors);

$editor-font-sizes: (
  "small"  : $font-size-sm,
  "normal" : $font-size-base,
  "large"  : $font-size-lg,
);

//
// Text colors
//

@each $color, $value in $editor-colors {
  @include text-emphasis-variant(".has-#{$color}-color", $value);
}

//
// Background colors
//

@each $color, $value in $editor-colors {
  @include bg-variant(".has-#{$color}-background-color", $value);
}

//
// Font sizes
//

@each $font-size, $value in $editor-font-sizes {
  .has-#{$font-size}-font-size {
    @include font-size($value !important);
  }
}

//
// Set padding for paragraphs with background color.
//

p.has-background {
  padding: (map-get($spacers, 4) / $line-height-base) map-get($spacers, 4);
}
