/*!
 * Editor
 *
 * Used in editing interface.
 */

@import "variables";
@import "~bootstrap/scss/mixins";

// Controls
@import "./../scripts/block-library/components/breakpoint-toolbar/style";
@import "./../scripts/block-library/components/url-control/style";
@import "./../scripts/block-library/components/image-control/style";

// Blocks
@import "./../scripts/block-library/blocks/row/editor";
@import "./../scripts/block-library/blocks/column/editor";
@import "./../scripts/block-library/blocks/button/editor";
@import "./../scripts/block-library/blocks/buttons/editor";
@import "./../scripts/block-library/blocks/spacer/editor";

// Removes block vertical spacing.
.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

// Block preview
.my-theme-block-preview {
  // Unset WordPress card.
  .card {
    position: unset;
    margin-top: unset;
    padding: unset;
    min-width: unset;
    max-width: unset;
    border: unset;
    box-shadow: unset;
    background: unset;
    box-sizing: unset;
  }
  // Import front-end styles.
  @import "main";
}
