/*!
 * Editor
 *
 * Used in editing interface.
 */

@import "variables";
@import "~bootstrap/scss/mixins";
@import "block-types/spacer/editor";

// Removes block vertical spacing.
.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

.acf-block-preview {
  // Disable mouse events
  pointer-events: none;
  // Unset WordPress card
  .card {
    position: unset;
    margin-top: unset;
    padding: unset;
    min-width: unset;
    max-width: unset;
    border: unset;
    box-shadow: unset;
    background: unset;
    box-sizing: unset;
  }
  // Import front-end styles
  @import "main";
}
