.wp-block-my-theme-spacer {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    // Above breakpoint.
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      @each $key, $value in $spacers {
        &.has-spacing#{$infix}-#{$key} {
          height: $value;
        }
      }
    }
  }
}
