/**
 * Viewport height
 */

$from: 1;
$until: 100;
$steps: 5;

@for $i from $from through max( $from, $until / $steps ) {
  $value : $i * $steps;

  .min-vh-#{ $value } {
    min-height: #{ $value }vh;
  }
}
