
.has-spacing-1 {
  height: map-get($spacers, 0) !important;
}

.has-spacing-2 {
  height: map-get($spacers, 1) !important;
}

.has-spacing-3 {
  height: map-get($spacers, 2) !important;
}

.has-spacing-4 {
  height: map-get($spacers, 3) !important;
}

.has-spacing-5 {
  height: map-get($spacers, 4) !important;
}

@include media-breakpoint-up(md) {
  .has-spacing-1 {
    height: map-get($spacers, 1) !important;
  }

  .has-spacing-2 {
    height: map-get($spacers, 2) !important;
  }

  .has-spacing-3 {
    height: map-get($spacers, 3) !important;
  }

  .has-spacing-4 {
    height: map-get($spacers, 4) !important;
  }

  .has-spacing-5 {
    height: map-get($spacers, 5) !important;
  }
}
