//
// Spacer Block
//

@each $index, $value in $spacers {
  $index-mobile : 0;
  @if $index > 0 { $index-mobile: $index - 1 };
  .has-spacing-#{$index} {
    @if $index > 0 {
      height: map-get($spacers, $index-mobile) !important;
    }
    @include media-breakpoint-up(md) {
      height: $value !important;
    }
  }
}
